body {
    font-family: monospace;
    overflow: hidden;
}
header {
    font-size: larger;
    font-weight: bold;
    float: left;
}
section {
    clear: both;
    white-space: pre-wrap;
}
div.floaters span {
    display: block;
    position: absolute;
    transition-duration: 1000ms;
}
footer>div {
    display: inline-block;
    text-align: center;
    margin: 0 1em;
    width: 3em;
    height: 100px;
}
footer div.count {
    background: lightblue;
    height: 0px;
}